################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MiniBlog.IO/.vs/MiniBlog.IO/v15/.suo
/src/MiniBlog.IO/MiniBlog.Aplication/bin/Debug/netstandard2.0
/src/MiniBlog.IO/MiniBlog.Dependency.IoC/obj
/src/MiniBlog.IO/.vs/MiniBlog.IO/DesignTimeBuild
/src/MiniBlog.IO/.vs/MiniBlog.IO/v16
/src/MiniBlog.IO/MiniBlog.Aplication/obj
/src/MiniBlog.IO/MiniBlog.Domain/bin/Debug/netstandard2.0
/src/MiniBlog.IO/MiniBlog.Domain/obj
/src/MiniBlog.IO/MiniBlog.Infrastructure/bin/Debug/netstandard2.0
/src/MiniBlog.IO/MiniBlog.Infrastructure/obj



# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/src/MiniBlog.IO/.vs/MiniBlog.IO/v15/Server/sqlite3
