################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MiniBlog.IO/.vs/MiniBlog.IO/v15/.suo
